body{
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
color:transparent;
text-shadow: 2px 1px aqua, 2px 1px aqua;
text-align: center;
text-decoration-line: underline;
font-family: cursive;
margin-top: 5%;
}

#button1{
    background-image:url("nails20.jpeg");
    background-position:center;
    background-repeat:cover;
    margin-top:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px black solid;
    color:indigo;
    width: 200px;
    height:210px;
}

#border{
    border: 1px black solid;
    text-shadow: 2px 1px 0 #000, 2px 1px 0 #000;
}
